# Server Port
PORT=

# Auth
API_KEY=
APIDOCS_USERNAME=
APIDOCS_PASSWORD=

# Database URLs
DATABASE_URL=
DATABASE_URL_DEVELOPMENT=
DATABASE_URL_UNPOOLED=

# PostgreSQL Parameters
PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=

# Vercel Postgres Templates
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=

# Vercel Blob Storage
BLOB_READ_WRITE_TOKEN=